main {
    height: 100vh;
    background-color:black;
    color: #fff;
    padding:5px;
    display:grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 2px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}
.one{
    background-color: red;
    color: white;;

}
.three {
    background-image: url(images/tie.png);
}
.four {
    background-image: url(images/sign.jpg); 
}
.six{
    background-image: url(images/moped.jpg);
}
.seven{
    background-image: url(images/sax.jpg);
}
.eight{
    background-image: url(images/light.jpg);
}
.nine{
    background-image: url(images/flower.jpg);
}
.ten{
    background-color: turquoise;
    color:white;
}

.thick{
grid-column: span 3;
grid-row: span 2;
background-color: turquoise;
color: white;
text-align: center;
}

.thin{
    grid-column: span 2;
    grid-row: span 2;
}

.wide {
grid-column: span 5;
grid-row: span 1;
}

@media only screen and (min-width: 600px) {
   
   .hidden-xs {
    display: initial;
   }
main {
display:grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(4, 1fr);
max-width:100%;
grid-gap:2px;
}
.one {
    grid-column-start: 1;
    grid-column-end: 1;

}
.four {
    grid-column-start: 5;
}
.thick {
    grid-column: span 1;
    grid-row: span 2;
}
.wide {
    grid-column: span 2;
    grid-row: span 2;
}
.eight, .nine {
    grid-
}
.ten {
    grid-column-start: 5;
    grid-row-start: 4;

    
}
}