body {
    height: 100vh
}

main {
    background-color: black;
    color: #fff;
    padding: 5px;
    grid-gap: 2px;
    display: grid;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    
}

.one {
    background-color: red;
    color: white;
}

.two,
.five {
    background-color: turquoise;
    color: white;
    text-align: center;
}

.three {
    background-image: url(images/tie.png);
    grid-column: span 2;
}

.four {
    background-image: url(images/sign.jpg);
}

.six {
    background-image: url(images/moped.jpg);
    grid-column: span 2;
}

.seven {
    background-image: url(images/sax.jpg);
}

.eight {
    background-image: url(images/light.jpg);
}

.nine {
    background-image: url(images/flower.jpg);
}

.ten {
    background-color: turquoise;
    color: white;
}

@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr 2 fr;
        grid-template-rows: repeat(10, 100px);
    }
    .one,
    .two,
    .four,
    .five {
        grid-row: span 2;
    }
}

@media only screen and (min-width: 600px) {
    main {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 100px 100px 100px;
    }
    .two,
    .three,
    .four,
    .five,
    .six,
    .eight
 {
        grid-row: span 2;
    }
}